body {
    background-color: black;
    color: lime;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
}

.console {
    background-color: black;
    color: lime;
    border: 1px solid lime;
    padding: 7px;
    font-size: 1.2em;
    min-height: 200px;
    width: 100%;
    white-space: pre-line;
    word-wrap: break-word;
    overflow-y: auto;
}

.console input {
    background-color: black;
    color: lime;
    border: none;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    margin-top: 10px;
}

.link {
    color: lime;
    text-decoration: none;
    font-size: 1.2em;
}

.link:hover {
    text-decoration: underline;
}

.footer {
    margin-top: 20px;
}
